<% include partials/header %>

<h1>You fell in love with <%= thingVar %> </h1>
<% if(thingVar === "aliens"){ %>
  <h3>Take us to your leader</h3> 
<% } else { %> 
<h4> Who could blame you?</h4> 
<% } %>
<p><i>This is the love.ejs file</i></p>

<% include partials/footer %>
